<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


  <!-- ROBOTO FONT -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,900,100italic,300italic,500,300,700,400italic,700italic,500italic,100&subset=latin,greek-ext,latin-ext' rel='stylesheet' type='text/css'>


  <!-- LATO FONT -->
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

  <link href='https://fonts.googleapis.com/css?family=Knewave' rel='stylesheet' type='text/css'>

  <link href='https://fonts.googleapis.com/css?family=Ramabhadra' rel='stylesheet' type='text/css'>

  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

  <!-- -->

  <!-- FONT AWESOME ICONS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- BOOTSTRAP v4 -->
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" href="/assets/css/normalize.css" >
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  {{> nav}}

  {{{body}}}
  <script src="/assets/js/jquery-3.1.1.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/app.js"></script>
  {{#if script}}
  <script src="{{script}}"></script>
  {{/if}}
</body>
</html>
