body {
  font-size: 62.5%; }

#wrapper {
  font-size: 1rem; }

#status-area {
  display: none; }

.alert {
  width: 100%;
  text-align: center; }

#login-form {
  max-width: 50rem;
  margin: 0 auto; }
  #login-form button {
    float: right; }

#register-form {
  max-width: 50rem;
  margin: 0 auto; }
  #register-form button {
    float: right; }
